.dijitSelect .dijitArrowButton 
{
    background-color: #fafafc;
    border-color: #fafafc;
}

.jimu-widget-visibility .dijitSelect .dijitButtonContents
{
    background-color: transparent;
    border-color: #fafafc;
}

.jimu-widget-visibility  .dijitSelectDisabled,
.jimu-widget-visibility .dijitTextBoxDisabled,
.jimu-widget-visibility .dijitTextBoxDisabled .dijitInputContainer ,
.jimu-widget-visibility .dijitTextBoxDisabled {
     background-color: #4c4c4c; 
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}


.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url(images/tooltip.png);    
}

/* dojo color picker */

.jimu-colorpalette  {
  background-color: #4c4c4c;
}

.jimu-color-picker-dialog .dijitTooltipContainer {
  background-color: #4c4c4c !important;
}

.claro .dojoxColorPicker, .claro .dijitColorPalette {
    background: #4c4c4c;
}


/*dojo dialog box*/
.claro .dijitDialog {
  background-color: #4c4c4c;
}

.claro .dijitDialogTitle {
    color: #fff;
}

.claro .dijitDialogPaneActionBar {
  background-color: #4c4c4c;
  border-top: none;
}

.claro .jimu-widget-subtitle {
    color: #ffffff;
}
.claro .dijitDialogTitleBar {
    border: 0px solid #222;
    border-bottom: 1px solid #000;
    background-color: #222;
    background-image: none;    
}

.claro .dijitDialogPaneContent {
    background-color: #4c4c4c;
    border: 0px solid #222;
    color: #fff;
}

.claro .dijitDialogPaneContent  {
  float: right;
}

/*Button*/

.claro .dijitButton .dijitButtonNode {
    color: #ffffff !important;
    border: 0px solid #000000;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 5px 18px 8px 18px;
    font-size: 14px;    
}
.claro .dijitButtonHover  .dijitButtonNode {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.jimu-widget-visibility .settingBtn {
    display: inline-block;
    background: url(./images/settings_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: -3px;
}

.jimu-widget-visibility .settingBtn:hover {
    background: url('./images/settings_white_hover.png');
}

.jimu-widget-visibility .editBtn {
    display: right;
    background: url(./images/draw_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.jimu-widget-visibility .editBtn:hover {
    background: url('./images/draw_white_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-visibility .jimu-edit-active {
    background: url('./images/draw_white_hover.png');
    background-repeat: no-repeat;
    border: none;
}

.jimu-widget-visibility .polygonBtn {
    display: inline-block;
    background: url(./images/polygon_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.jimu-widget-visibility .polygonBtn:hover {
    background: url('./images/polygon_white_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-visibility .jimu-polygon-active {
    background: url('./images/polygon_white_hover.png');
    background-repeat: no-repeat;
    border: none;
}

.jimu-widget-visibility .extentBtn {
    display: inline-block;
    background: url(./images/extent_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.jimu-widget-visibility .extentBtn:hover {
    background: url('./images/extent_white_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-visibility .jimu-extent-active {
    background: url('./images/extent_white_hover.png');
    background-repeat: no-repeat;
    border: none;
}


.claro .dijitSliderImageHandle, .claro .dijitSliderImageHandle:after {
    background: transparent;
    margin-top: 0px;
}