.jimu-widget-visibility-control .dijitTextBox .dijitInputInner {
  height: 20px;
  text-align: right;
}

.jimu-widget-visibility-control .jimu-checkbox .label  {
  font-size: 12px;
  padding-top: 2px;  
}

.jimu-widget-visibility  fieldset {
    border: 1px solid #CCC;
    padding: 6px;
    margin-top: 10px;
}

.jimu-widget-visibility  fieldset > div {
    margin: 3px;
}

.jimu-widget-visibility  fieldset > div > label {
    width: 50px;
    display: inline-block;
}

.jimu-widget-visibility-control .controls {
    display: table;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}

.jimu-widget-visibility-control .buttonContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.jimu-widget-visibility-control .controlItem {
    display: flex !important;
}

.jimu-widget-visibility-control .controlGroup {
    margin-top: 13px;
}

.jimu-widget-visibility-control .controlGroup .warning{
    color: #F00;
    font-weight: bold;
    width: 260px;
    display: inline-block;
}

.jimu-widget-visibility .controlGroup .controlGroupChild{
    margin-top: 6px;
}

.jimu-widget-visibility .controlGroup .splitRight {
    position: absolute;
    right: 25px;
}

.jimu-widget-visibility .controlGroup > label {
    width: 100px;
}

.jimu-widget-visibility-control .controlSpace {
    margin-left: 6px;
}

.jimu-widget-visibility-control  .noResize .dijitSelectLabel, .jimu-widget-visibility-control .noResize .dijitTextBox .dijitInputInner, .jimu-widget-visibility-control  .noResize.dijitValidationTextBox .dijitValidationContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 58px;
    text-align: left;
}


/**
 * Coordinate Format Dialog
 **/


.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}

.add-with-icon {
    display: inline-block;
    height: 32px;
    line-height:37px;
    color: #838383;
}

.add-with-icon .draw {
  display: inline-block;
  background: url(../images/draw_point.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.add-with-icon .draw:hover {
    background-color: #c0c0c0;
}

.jimu-state-active {
    background-color: #c0c0c0 !important;
}

.controlItem .paddedLeft{
   padding-left: 14px;
}

.center {
    display: table !important;
    margin: 0 auto;
}

.jimu-widget-visibility-control .cusrortooltip {
  z-index:10;
  position:fixed;
  border: 1px solid #777;
  color: black;
  background-color: white;
  padding: 6px;
  border-radius: 6px;
}

/****** Dart Theme Overrides ******/

.DartTheme .jimu-widget-visibility-control .cusrortooltip {
  background-color: #4c4c4c;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .jimu-widget-subtitle {
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url('images/tooltip.png');    
}

.DartTheme .jimu-icon {
    background-image: url(images/sprite.png);
}

.DartTheme  .jimu-widget-cw .cpbtn {
    background: url(../images/copy.png);
}

.DartTheme  .add-with-icon .draw {
  background: url(../images/draw_point_dart.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.DartTheme .jimu-widget-visibility-control .add-with-icon .draw:hover {
    background-color: #000000;
}

