.jimu-widget-visibility-control .dijitTextBox .dijitInputInner {
  height: 20px;
  text-align: right;
}

.jimu-widget-visibility-control .controls {
    display: table;
    margin: 0 auto;
    padding-bottom: 20px;
}

.jimu-widget-visibility-control .controlGroup {
    margin-top: 13px;
}

.jimu-widget-visibility-control .buttonContainer {
    display: flex;
}

.jimu-widget-visibility-control  .noResize .dijitSelectLabel, 
.jimu-widget-visibility-control .noResize .dijitTextBox .dijitInputInner, 
.jimu-widget-visibility-control  .noResize.dijitValidationTextBox .dijitValidationContainer {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 58px;
    text-align: left;
}

.jimu-widget-visibility-control .cusrortooltip {
  z-index:10;
  position:fixed;
  border: 1px solid #777;
  color: black;
  background-color: white;
  padding: 6px;
  border-radius: 6px;
}

.jimu-widget-visibility-control .center {
    display: table !important;
    margin: 0 auto;
}

/* Buttons */

.jimu-widget-visibility-control .btnContainer {
    text-align: right;
    margin-top: 15px;
    display: grid;
    border-top: 1px solid #CCC;
    padding: 15px 4px;
}

.jimu-widget-visibility-control .HalfWidthLeft
{
    width: 50%;
}

.jimu-widget-visibility-control .HalfWidthRight
{
    width: 50%;
}

.jimu-widget-visibility-control .settingBtn {
    background: url(./images/settings_black.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -4px;
}

.jimu-widget-visibility-control .settingBtn:hover {
    background: url('./images/settings_black_hover.png');
}

.jimu-widget-visibility-control .editBtn {
    float: right;
    background: url(./images/draw_black.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

.jimu-widget-visibility-control .editBtn:hover {
    background: url('./images/draw_black_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-visibility-control .jimu-edit-active {
    background: url('./images/draw_black_hover.png');
    background-repeat: no-repeat;
    border: none;
}

/* Toggle switch */

.jimu-widget-visibility-control  .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-visibility-control  .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-visibility-control  .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-visibility-control  .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-widget-visibility-control  .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-visibility-control  .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-visibility-control  .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-visibility-control  .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}


/**
 * Coordinate Format Dialog
 **/
 
.btnContainer {
    text-align: right;
    margin-top: 6px;
}

.settingsContainer {
    margin-top: 6px;
}

.controlContainer {
    margin-top: 6px;
}

/****** Dart Theme Overrides ******/

.DartTheme .jimu-widget-visibility-control .cusrortooltip {
  background-color: #4c4c4c;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .jimu-widget-subtitle {
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url('images/tooltip.png');    
}


